.uLogo {
    height  : 64px;
    line-height: 64px;
    color      : #fff;
    font-size  : 20px;
    padding: 0 10px;
    
}
.uLogo img {
    display: inline-block;
    width: 32px;
    height: 32px;
    vertical-align: middle;
    margin-right: 10px;
}


.site-layout .site-layout-background {
    background: #fff;
}